In [4]:
a=(1,2,3,4,5)
b=()
c=(4,)
d=('b','1','o','c','k')

print(f'len(a):{len(a)}')
print(f'lend(b):{len(b)}')
print(f'lend(c):{len(c)}')
print(f'len(d):{len(d)}')

len(a):5
lend(b):0
lend(c):1
len(d):5

In [6]:
t1 = (1,2)
t2= ()
t3= (10,)
t4=('a','b','c')

result1= t1 * 2
result2= t2 * 4
result3 = t3 * 10
result4 = t4 * 3

print(f't1 * 2 = {result1}')
print(f't2 * 4 = {result2}')
print(f't3 * 10 = {result3}')
print(f't4 * 3 = {result4}')

t1 * 2 = (1, 2, 1, 2)
t2 * 4 = ()
t3 * 10 = (10, 10, 10, 10, 10, 10, 10, 10, 10, 10)
t4 * 3 = ('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [7]:
t1 = (1,2)
t2 = ()
t3 = ('b','1','o','c','k')

if 1 in t1:
    print('1 in t1 is true')
else:
    print('1 in t1 is not true')

1 in t1 is true

In [11]:
import pandas as pd

In [14]:
df_1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']},
 index=[0, 1, 2])

df_1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [16]:
Series_1 = pd.Series(['S1', 'S2', 'S3'], name='S')
Series_1

0    S1
1    S2
2    S3
Name: S, dtype: object

In [17]:
pd.concat([df_1,Series_1],axis=1)

    A   B   C   D   S
0  A0  B0  C0  D0  S1
1  A1  B1  C1  D1  S2
2  A2  B2  C2  D2  S3

Class_1클래스 생성
self는 Class의 객체(속성)를 지정하고 self를 통해 속성을 지정

In [1]:
class Class_1():
    def func_1(self):
        print("Class_1 Call")

In [2]:
x = Class_1()

In [3]:
x.func_1()

Class_1 Call

In [10]:
class Class_2():
    def __init__(self,x,y):       #매개변수 self,x,y 
        self.x = x
        self.y = y

x = Class_2("test",20)  
print(x.x,x.y)

test 20

In [14]:
y = Class_2("test2",50)

In [15]:
print(x.x, x.y, y.x, y.y)

test 20 test2 50

In [17]:
class Class_3():
    def __init__(self,input_a,input_b):   ##Class_3을 생성할 때 self,inpu_a,input_b를 매개변수로 하는 인자값이 필요/ self를 제외하고 매개변수 input_a,input_b에 대입함
        self.a = input_a
        self.b = input_b

    def func_1(self):
        #func_1()함수 생성->class안에 있는 input_a,input_b를 합쳐서 결과값 return
        self.result = self.a + self.b
    
    def func_1(self):
        ##func_1()함수 생성 ->class안에 있는 input_a,input_b를 합쳐서 결과값 return
        self.result =self.a + self.b
        return self.result

In [18]:
test = Class_3(5,4)

test2 = Class_3(10,2) 

print(test.func_1( ),test2.func_1( ))

9 12

In [23]:
class Class_4():
    list = []
    def __init__(self,_name):
        self.name = _name
    def add_list(self,_phone):
        self.list.append(_phone)

test = Class_4("Kim")
test2 = Class_4("Lee")
test.add_list("0102345678")
test2.add_list("01098765432")


print(test.name,test2.name)

#결과값? 
print(test.list,test2.list)
print(test.name)
print(test.list)

Kim Lee
['0102345678', '01098765432'] ['0102345678', '01098765432']
Kim
['0102345678', '01098765432']

In [1]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3']),
                    'b':['b0','b1','b2','b3'],
                    'c':['c0','c1','c2','c3']}

In [2]:
sr1 = pd.Series(['e0','e1','e2','e3'], name = 'e')
sr2 = pd.Series(['f0','f1','f2'], name = 'f' , index = [3,4,5])
sr3 = pd.Sereis(['g0','g1','g2','g3'], name = 'g')

AttributeError: module 'pandas' has no attribute 'Sereis'