In [ ]:
a = 10
b = "test"

In [28]:
a=7
b=3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [23]:
a += 3
print(a)

10

In [27]:
a -=3
print(a)

4

In [25]:
a *= 3
print(a)

21

In [30]:
a //= 3
print(a)

0.0

In [8]:
print(a+b)

16.0

In [9]:
a=10
b=20

In [10]:
print(a == b, a != b, a > b, a >= b, a < b,  a <= b)

False True False False True True

In [11]:
a = 25
(a>30) and ( a<50)

False

In [12]:
(a>30)  or (a<50)

True

In [14]:
not (a == 30)

True

In [15]:
a = 20

if a < 10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [220]:
score = int(input("몇 점 인가요?"))

if score  >=90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("Fail")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#for문

for 변수 in range(시작값,종료값,증가값):
    반복 실행할 코드

for 변수 in rage(0,9,1):
    print("반복문 입니다.")

In [38]:
for i in range(0,5,1):
    print("%d번째 반복입니다."%i)

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.

In [ ]:
#1에서 10까지 합을 구하는 공식(for 문 이용)

In [52]:
i=0
sum=0

for i in range(1,11,1):
    sum += i 

print(sum)

55

In [ ]:
#0,1,2 반복문 실행

In [56]:
for i in range(0,3,1):           #i가 0인 경우에 j는 0,1,2 반복문이 실행
        for j in range(0,3,1):
            print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
#1.반복문을 이용해서 1~10까지 짝수의 값만 출력하시오.
#2.반복문을 이용해서 주사위 2개를 굴렸을 때 합이 8인 경우를 출력하시오.

In [75]:
for i in range(1,11,1):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [85]:
for i in range(1,7,1):
    for j in range(1,7,1):
        if i+j == 8:
         print(i,j)

2 6
3 5
4 4
5 3
6 2

In [ ]:
#while문
반복문에는 for문 외에 while문이 있다.

변수 =시작값
While 변수 < 종료 값:
    반복 실행할 코드
    변수 = 변수 + 증가 값

In [221]:
sum =0
i = 1

while i <11:
    sum += i
    i+=1
print("1에서 10까지의 합은 %d"%sum)

1에서 10까지의 합은 55

In [ ]:
#while문
While True: 
    print("반복")

while문에서 조심해야할 점은 조건식 부분에 True가 들어가게 되면 무한 반복이 된다.

In [ ]:
#break문 (while문에서 변수i가 100일때 반복문 끝내기)

In [84]:
i = 0
while True:                    #무한 루프
    print(i)
    i += 1                     #i를 1씩 증가시킴
    if i == 100:               #i가 100일 때
        break                  #반복문을 끝냄. while의 제어흐름을 벗어남

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [79]:
#다중 for문(구구단 만들기)

In [82]:
for i in range(2,10,1):
    for j in range(1,10,1):
        print("%d X %d = %d" %(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [73]:
for i in range(2,10,1):
    for j in range(1,10,1):
        print("%d X %d = %d" %(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [74]:
sum = 0

i=1

while i < 11:
    sum +=i
    i += 1

print(sum)

55

In [86]:
for i in range(1,100,1):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [104]:
sum = 0
i = 1

while i <= 100:
    sum += i
    if sum >= 800:
        break
    i += 1
print(i)

40

In [ ]:
for i in range(1,100,1):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
#1에서 100까지 합을 구하는데 합계가 800이상이 되는 범위의 최초의 숫자의 값은?

In [91]:
for i in range(1,100,1):
   print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [100]:
sum=0

for i in range(0,101,1):
    sum += i 

    if sum>= 800:
        break
print(i,sum)

40 820

In [ ]:
#continue문
break문이 반복문에서 빠져 나간다면 continue문은 반복문으로 돌아간다.

In [101]:
for i in range(1,10,1):
    if i <= 3:
        continue
    print(i)

4
5
6
7
8
9

In [ ]:
#튜플
각 변수의 값들의 data type이 달라도 상관없음

In [110]:
a=(1,"hello")
b=(3,3.14)
c=a+b
d=a*3
print(a)

print(a,b,c,d,a[1])

(1, 'hello')
(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') hello

In [108]:
print(a[1])

hello

In [ ]:
#(10,20,30)을 출력하려면?

In [112]:
a = (10,20,30,40)
print(a[0:3])
print(a[:3])

(10, 20, 30)
(10, 20, 30)

In [ ]:
#30,40을 출력하려면?

In [113]:
print(a[1:3])

(20, 30)

In [115]:
a = [20,10,40,30]
b = [12,99,24,55]

a.sort()
b.reverse()
print(a)
print(b)

[10, 20, 30, 40]
[55, 24, 99, 12]

In [116]:
del a[0]
b.append(22)

print(a)
print(b)

[20, 30, 40]
[55, 24, 99, 12, 22]

In [ ]:
#2차원 리스트 
리스트 안에 리스트 존재.

In [118]:
a = [[10,20],[30,40],[50,60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [119]:
print(a[2][0])

50

In [ ]:
#딕셔너리
key와 value를 1:1로 대응 시킨 형태. 하나의 key에는 하나의 value만이 대응됨
key값은 절대로 변하지 않으며 value값은 변경할 수 있다.

튜플과는 다르게 key-value쌍 자체를 수정하거나 삭제할 수 있기 때문에 유용하게 사용할 수 있다.

key를 이용해서 del값 삭제

In [120]:
a = {"name":"test","age":20,"phone":"01012345678"}
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [121]:
a["area"]="Seoul"
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [ ]:
#key값 변경

In [122]:
a["age"]=30
print(a)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'Seoul'}

In [ ]:
#key값 삭제

In [123]:
del(a["phone"])
print(a)

{'name': 'test', 'age': 30, 'area': 'Seoul'}

In [ ]:
#문자열 함수
len() : 문자열의 길이를 출력

In [ ]:
a = "Hello"
a_len = len(a)

for i in range(0,a_len)

In [ ]:
#
Upper(): 문자를 모두 대문자로 변환
Lower(): 문자를 모두 소문자로 변환
Swapcase():대문자 ->소문자 , 소문자->대문자
title(): 단어의 첫 문자만 대문자로 변환

In [ ]:
count():문자열의 갯수를 출력
find():문자열 앞부터 시작하여 처음부터 나온 위치 출력
index()

In [ ]:
#문자열 찾을 때 공백있으면 해당 파트가 안찾아지기 때문에 공백 제거를 의도적으로 함
lstrip():문자열 왼쪽 공백 지우기
rstrip():문자열 오른쪽 공백 지우기
strip():문자열 양쪽 공백 지우기

In [ ]:
replace():다른 값으로 치환
split():문자열을 괄호안의 값으로 구분하여 나누어줌. 괄호 안의 값을 넣지 않으면 공백을 기준으로 한다.

In [124]:
a = "Hello"
print(len(a))

5

In [130]:
a="Hello"
a_len = len(a)

for i in range(0, a_len,1)
    print(a[i]+"_",end=" ")

SyntaxError: invalid syntax (412637145.py, line 4)

In [133]:
b="Hello world"

print(b.upper())
print(b.lower())
print(b.swapcase())
print(b.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [134]:
print(b)

Hello world

In [136]:
b.count("o")

2

In [137]:
b.find("r")

8

In [141]:
a = "   Hello World"
a

'   Hello World'

In [142]:
a.lstrip()

'Hello World'

In [143]:
a.rstrip()

'   Hello World'

In [145]:
a.strip(a)

''

In [146]:
a

'   Hello World'

In [149]:
a.replace("Hello","hi")

'   hi World'

In [150]:
b = "a,b,c,d"
b

'a,b,c,d'

In [151]:
b.split(",")

['a', 'b', 'c', 'd']

In [152]:
a

'   Hello World'

In [154]:
a.lstrip()

'Hello World'

In [155]:
a

'   Hello World'

In [156]:
'    Hello world'

'    Hello world'

In [157]:
a.replace(" ","")

'HelloWorld'

In [ ]:
#매개변수, 인자
매개 변수는 함수에 입력으로 전달된 값을 받는 변수
인자는 함수를 호출 할 때 전달하는 입력 값
매개변수,인자 사용하지 않는 경우도 있음

In [173]:
def func_1(a,b):
    c = a // b
    return c

d = func_1(3,6)
print(d)

0

In [174]:
print(func_1(10,2))

5

In [ ]:
#1.func_2()함수를 생성
#2.매개변수 2개 (a,b)
#3.함수가 하는 행동 ->a부터 b까지의 합을 return

In [ ]:
    #sum을 외부에 사용하는 경우

In [199]:
sum = 0

def func_2(a,b):
    global sum
    for i in range(a, b+1,1):   
        sum += i 
    return sum

print(func_2(1,10))      
print(func_2(1,3))

55
61

In [216]:
def func_3(a,b):
    sum=0 
    for i in range(a,b+1,1):
     if a>b   :
        sum += i
    return sum

c=func_3(2,1)
print(c)

0

In [219]:
def func_4(a,b):
    sum=0 
    for i in range(a,b+1,1):
     if a<b   :
        sum += i
    return sum
c=func_4(1,2)
print(c)

3

In [218]:
def func_3(a,b):
    sum=0 
    for i in range(a,b+1,1):
     if a>b   :
        sum += i
    return sum
c=func_2(2,1)
print(c)

61

In [214]:
def func_3(a,b):
    sum =0
    if a > b:
        for i in range(b,a+1,1):
            sum += i
        return sum
    else :
        for i in range(a,b+1,1):
            sum += i
        return sum
    
c=func_3(2,1)
print(c)
func_3(2,1)

3

3

In [207]:
def func_4(a,b):
    sum = 0
    for i in range(min(a,b),max(a, b)+1,1):
        sum += i
    return sum

func_4(1,0)

1

In [ ]:
#4.a와 b의 크기를 비교해서 a부터 b까지 아니면 b부터 a까지의 합으로 코드 변경

In [190]:
def func_2(a,b):
    sum=0
    for i in range(b,a+1,1):
    
    return sum
c=func_2(2,0)
print(c)

3