In [93]:
#titanic데이터 로드
import pandas as pd
titanic = pd.read_csv('C:/apps/ml/datasets/titanic_train.csv')
titanic.head()

#titanic = df 로 변환
df = titanic

In [94]:
#Name,SibSp,Parch,Ticket,Cabin
#drop할 때 axis 꼭 넣기!!
titanic.drop(['Name','SibSp','Parch','Ticket','Cabin'],axis=1,inplace=True)
titanic.head()

   PassengerId  Survived  Pclass     Sex   Age     Fare Embarked
0            1         0       3    male  22.0   7.2500        S
1            2         1       1  female  38.0  71.2833        C
2            3         1       3  female  26.0   7.9250        S
3            4         1       1  female  35.0  53.1000        S
4            5         0       3    male  35.0   8.0500        S

In [95]:
#Age는 평균으로 fillna.mean()
#Embarked는 S로 fillna.('S')

titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())
titanic['Embarked'] = titanic['Embarked'].fillna('S')

In [96]:
# loc인덱싱. 첫번째는 인덱싱할 row를 입력하고 두번째에는 인덱싱할 column을 넣으면됨
# 예를  df.loc[:, "나이"]를 한다면 모든 row의 나이를 인덱싱

X = df.drop('Survived',axis=1)
y = df.loc[:, 'Survived']

In [97]:
X

     PassengerId  Pclass     Sex        Age     Fare Embarked
0              1       3    male  22.000000   7.2500        S
1              2       1  female  38.000000  71.2833        C
2              3       3  female  26.000000   7.9250        S
3              4       1  female  35.000000  53.1000        S
4              5       3    male  35.000000   8.0500        S
..           ...     ...     ...        ...      ...      ...
886          887       2    male  27.000000  13.0000        S
887          888       1  female  19.000000  30.0000        S
888          889       3  female  29.699118  23.4500        S
889          890       1    male  26.000000  30.0000        C
890          891       3    male  32.000000   7.7500        Q

[891 rows x 6 columns]

In [98]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X['Sex'] = encoder.fit_transform(X['Sex'])
X['Embarked'] = encoder.fit_transform(X['Embarked'])

In [99]:
# [[ ]] 왜 두번하는지는 모를..

from sklearn.preprocessing import RobustScaler,MinMaxScaler

scaler = MinMaxScaler()
X['Age'] = scaler.fit_transform(X[['Age']])

In [100]:
X

     PassengerId  Pclass  Sex       Age     Fare  Embarked
0              1       3    1  0.271174   7.2500         2
1              2       1    0  0.472229  71.2833         0
2              3       3    0  0.321438   7.9250         2
3              4       1    0  0.434531  53.1000         2
4              5       3    1  0.434531   8.0500         2
..           ...     ...  ...       ...      ...       ...
886          887       2    1  0.334004  13.0000         2
887          888       1    0  0.233476  30.0000         2
888          889       3    0  0.367921  23.4500         2
889          890       1    1  0.321438  30.0000         0
890          891       3    1  0.396833   7.7500         1

[891 rows x 6 columns]

In [101]:
#테스트 파일 분리

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=111)

# sklearn.base.BaseEstimator

class sklearn.base.BaseEstimator

In [102]:
import numpy as np
from sklearn.base import BaseEstimator
from sklearn.ensemble import RandomForestClassifier

In [103]:
be_clf = RandomForestClassifier()
# 입력 데이터의 형태에 맞춰 데이터를 변환하기 위한 사전 구조를 맞추는 작업
be_clf.fit(X_train,y_train)

pred = be_clf.predict(X_test)

In [104]:
# 정밀도와 재현율을 예측

from sklearn.metrics import accuracy_score,precision_score,recall_score

print("정확도:",accuracy_score(y_test,pred))
print("정밀도:",precision_score(y_test,pred))
print("재현율:",recall_score(y_test,pred))

#precision과 recall은 상충관계!

정확도: 0.7988826815642458
정밀도: 0.734375
재현율: 0.7121212121212122

In [105]:
from sklearn.metrics import f1_score

print("f1 score:",accuracy_score(y_test,pred))

f1 score: 0.7988826815642458

# 재현율 = 민감도(Sensitivity)

In [106]:
#a = (정밀도+재현율)/2 = 1.3541666666666665
(1/0.75+1/0.7272727272727273)/2

# a의 역수(F1 Score)
1/1.3541666666666665

0.7384615384615385

In [115]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)

print(pred)
print(pred_proba)

[1 1 1 0 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 1
 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 0 1 1 1
 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 0 1 0 0 1 0
 0 0 1 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0]
[[0.36548253 0.63451747]
 [0.25837965 0.74162035]
 [0.0715185  0.9284815 ]
 [0.86030442 0.13969558]
 [0.92833307 0.07166693]
 [0.61946829 0.38053171]
 [0.86313806 0.13686194]
 [0.05693073 0.94306927]
 [0.90102264 0.09897736]
 [0.22500268 0.77499732]
 [0.73094743 0.26905257]
 [0.92752708 0.07247292]
 [0.38031009 0.61968991]
 [0.06715024 0.93284976]
 [0.91105356 0.08894644]
 [0.39418271 0.60581729]
 [0.08339434 0.91660566]
 [0.83686229 0.16313771]
 [0.78023154 0.21976846]
 [0.23304542 0.76695458]
 [0.38326067 0.61673933]
 [0.63699719 0.36300281]
 [0.92597779 0.07402221]
 [0.95666012 0.04333988]
 [0.90787966 0.09212034]
 [0.91644072 0.08355928]
 [0.84117547 0.15882453]
 [0.2256929  0.7743071 ]
 [0.88243812 0.11756188]
 [0.84246968 0.15753032]
 [0.08377879 0.91622121]
 [0.39178501 0.60821499]
 [0.22758338 0.77241662]
 [0.90740297 0.09259703]
 [0.91450442 0.08549558]
 [0.55380247 0.44619753]
 [0.06829201 0.93170799]
 [0.54810078 0.45189922]
 [0.05138035 0.94861965]
 [0.85176166 0.14823834]
 [0.93170854 0.06829146]
 [0.76264501 0.23735499]
 [0.1839904  0.8160096 ]
 [0.52289909 0.47710091]
 [0.91329369 0.08670631]
 [0.74827459 0.25172541]
 [0.44960535 0.55039465]
 [0.51219837 0.48780163]
 [0.07966552 0.92033448]
 [0.54773645 0.45226355]
 [0.94028698 0.05971302]
 [0.47320357 0.52679643]
 [0.26021001 0.73978999]
 [0.92417813 0.07582187]
 [0.47015325 0.52984675]
 [0.93200677 0.06799323]
 [0.72630491 0.27369509]
 [0.68836311 0.31163689]
 [0.89057782 0.10942218]
 [0.38516906 0.61483094]
 [0.86207983 0.13792017]
 [0.42582461 0.57417539]
 [0.87564024 0.12435976]
 [0.91688026 0.08311974]
 [0.37293536 0.62706464]
 [0.07487039 0.92512961]
 [0.9357226  0.0642774 ]
 [0.94033726 0.05966274]
 [0.88636652 0.11363348]
 [0.92530109 0.07469891]
 [0.51198358 0.48801642]
 [0.61019042 0.38980958]
 [0.92450726 0.07549274]
 [0.46020936 0.53979064]
 [0.89347654 0.10652346]
 [0.09392803 0.90607197]
 [0.90665044 0.09334956]
 [0.09604687 0.90395313]
 [0.86385143 0.13614857]
 [0.65586009 0.34413991]
 [0.76629513 0.23370487]
 [0.86602508 0.13397492]
 [0.9175728  0.0824272 ]
 [0.06565899 0.93434101]
 [0.39331906 0.60668094]
 [0.74990167 0.25009833]
 [0.91808777 0.08191223]
 [0.92213393 0.07786607]
 [0.92385981 0.07614019]
 [0.5724937  0.4275063 ]
 [0.94726607 0.05273393]
 [0.77240197 0.22759803]
 [0.93467124 0.06532876]
 [0.93528669 0.06471331]
 [0.47143476 0.52856524]
 [0.57571127 0.42428873]
 [0.62210977 0.37789023]
 [0.90505238 0.09494762]
 [0.46731984 0.53268016]
 [0.10260893 0.89739107]
 [0.22061417 0.77938583]
 [0.45851981 0.54148019]
 [0.74999735 0.25000265]
 [0.41804903 0.58195097]
 [0.24981776 0.75018224]
 [0.6762266  0.3237734 ]
 [0.64546099 0.35453901]
 [0.92231598 0.07768402]
 [0.1186119  0.8813881 ]
 [0.46594598 0.53405402]
 [0.36982323 0.63017677]
 [0.92168065 0.07831935]
 [0.79723819 0.20276181]
 [0.90538147 0.09461853]
 [0.33136404 0.66863596]
 [0.73067397 0.26932603]
 [0.43491984 0.56508016]
 [0.93095027 0.06904973]
 [0.90967135 0.09032865]
 [0.91612106 0.08387894]
 [0.91142626 0.08857374]
 [0.9138654  0.0861346 ]
 [0.37256835 0.62743165]
 [0.08177883 0.91822117]
 [0.84722861 0.15277139]
 [0.86834425 0.13165575]
 [0.08288569 0.91711431]
 [0.10728819 0.89271181]
 [0.09628613 0.90371387]
 [0.0898222  0.9101778 ]
 [0.91249818 0.08750182]
 [0.15572942 0.84427058]
 [0.05877648 0.94122352]
 [0.88317717 0.11682283]
 [0.46775479 0.53224521]
 [0.75154507 0.24845493]
 [0.21457265 0.78542735]
 [0.93141529 0.06858471]
 [0.20819506 0.79180494]
 [0.95645231 0.04354769]
 [0.28341332 0.71658668]
 [0.30928591 0.69071409]
 [0.81148005 0.18851995]
 [0.41271283 0.58728717]
 [0.92640501 0.07359499]
 [0.91588428 0.08411572]
 [0.42172169 0.57827831]
 [0.909484   0.090516  ]
 [0.88041166 0.11958834]
 [0.73379855 0.26620145]
 [0.3910508  0.6089492 ]
 [0.4691765  0.5308235 ]
 [0.48104383 0.51895617]
 [0.05846492 0.94153508]
 [0.92929951 0.07070049]
 [0.25323279 0.74676721]
 [0.9294926  0.0705074 ]
 [0.43013215 0.56986785]
 [0.93262283 0.06737717]
 [0.89670543 0.10329457]
 [0.57037941 0.42962059]
 [0.71574725 0.28425275]
 [0.81377114 0.18622886]
 [0.93386145 0.06613855]
 [0.9067363  0.0932637 ]
 [0.79980844 0.20019156]
 [0.92407436 0.07592564]
 [0.89446711 0.10553289]
 [0.22883136 0.77116864]
 [0.84296746 0.15703254]
 [0.91140072 0.08859928]
 [0.43058083 0.56941917]
 [0.23131579 0.76868421]
 [0.0523659  0.9476341 ]
 [0.91256357 0.08743643]
 [0.2089495  0.7910505 ]
 [0.91592301 0.08407699]
 [0.88611605 0.11388395]
 [0.90280329 0.09719671]]

C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [117]:
pred_proba = lr_clf.predict_proba(X_test)
pred = lr_clf.predict(X_test)

print('pred_proba()결과 shape: {0}'.format(pred_proba.shape))
print('pred_proba array에서 앞 3개만 샘플로 추출 \n',pred_proba[:3])

#예측 확률 array와 예측 결과값 array를 concatenate하여 예측 확률과 결과값을 한눈에 확인
pred_proba_result = np.concatenate([pred_proba, pred.reshape(-1,1)], axis=1)
print('두개의 class중에서 더 큰 확률을 클래스 값으로 예측 \n',pred_proba_result[:3])

pred_proba()결과 shape: (179, 2)
pred_proba array에서 앞 3개만 샘플로 추출
 [[0.36548253 0.63451747]
 [0.25837965 0.74162035]
 [0.0715185  0.9284815 ]]
두개의 class중에서 더 큰 확률을 클래스 값으로 예측
 [[0.36548253 0.63451747 1.        ]
 [0.25837965 0.74162035 1.        ]
 [0.0715185  0.9284815  1.        ]]

In [118]:
#0.8이 재현율 재현율만 높다고 생각하면 f1 score는 
(10/2 + 10/8)/2

3.125

In [119]:
1/3.125

0.32

In [120]:
#f1 score가 높은 걸 찾으려면 밑에 식처럼
(10/3 + 10/7)/2

2.380952380952381

In [121]:
1/2.380952380952381

0.42

In [123]:
#정밀도 
from sklearn.metrics import precision_recall_curve

In [125]:
# 레이블 값이 1일때의 예측 확률을 추출
pred_proba_class1 = lr_clf.predict_proba(X_test)[:,1]

In [126]:
# 실제값 데이터 셋과 레이블 값이 1일 때의 예측 확률을 precision_recall_curve 인자로 입력
precisions,recalls,thresholds = precision_recall_curve(y_test,pred_proba_class1)
print('반환된 분류 결정 임계값 배열의 Shape:',thresholds.shape)
print('반환된 precisions 배열의 Shape:',precisions.shape)
print('반환된 recalls 배열의 Shape:',recalls.shape)

print("thresholds 5 sample:", thresholds[:5])
print("precision 5 sample:",precisions[:5])
print("recalls 5 sample:", recalls[:5])

반환된 분류 결정 임계값 배열의 Shape: (179,)
반환된 precisions 배열의 Shape: (180,)
반환된 recalls 배열의 Shape: (180,)
thresholds 5 sample: [0.04333988 0.04354769 0.05273393 0.05966274 0.05971302]
precision 5 sample: [0.36871508 0.37078652 0.37288136 0.375      0.37142857]
recalls 5 sample: [1.         1.         1.         1.         0.98484848]

In [127]:
#반환된 임계값 배열 로우가 147건이므로 샘플로 10건만 추출하되, 임계값을 15 Step으로 추출
thr_index = np.arange(0,thresholds.shape[0],15)
print('샘플 추출을 위한 임계값 배열의 index 10개:',thr_index)
print('샘플용 10개의 임계값:',np.round(thresholds[thr_index],2))

샘플 추출을 위한 임계값 배열의 index 10개: [  0  15  30  45  60  75  90 105 120 135 150 165]
샘플용 10개의 임계값: [0.04 0.07 0.08 0.09 0.12 0.19 0.27 0.45 0.57 0.63 0.77 0.92]

In [128]:
#15step 단위로 추출된 임계값에 따른 정밀도와 재현율의 값
print('샘플 임계값별 정밀도:', np.round(precisions[thr_index],3))
print('샘플 임계값별 재현율:', np.round(recalls[thr_index],3))

샘플 임계값별 정밀도: [0.369 0.39  0.409 0.448 0.487 0.51  0.573 0.662 0.746 0.886 1.    1.   ]
샘플 임계값별 재현율: [1.    0.97  0.924 0.909 0.879 0.803 0.773 0.742 0.667 0.591 0.439 0.212]

In [129]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
%matplotlib inline

In [130]:
def precision_recall_curve_plot(y_test,pred_proba_c1):
    #threshold ndarray와 이 threshold에 따른 정밀도,재현율 ndarray 추출. 
    pricisions,recalls,thresholds = precision_recall_curve(y_test,pred_proba_c1)

In [135]:
# X축을 threshold값으로, Y축은 정밀도, 재현율 값으로 각각 Plot 수행. 정밀도는 점선으로 표시 
plt.figure(figsize=(8,6))
threshold_boudary = thresholds.shape[0]
plt.plot(thresholds, precisions[0:threshold_boundary], linestyle='--',label='precision')
plt.plot(thresholds, recalls[0:threshold_boundary], label ='recall')

NameError: name 'threshold_boundary' is not defined