In [44]:
import pandas as pd
import numpy as np

In [61]:
s1=pd.Series([1,np.nan, 3,4,5])
s2=pd.Series([1,2,np.nan,4,5])
s3=pd.Series([1,2,3,np.nan,5])
df=pd.DataFrame(["S1:s1",
                "S2:s2","S3:s3"])

In [46]:
## 결측치의 개수 ->isna().sum()
## True->1   False-> 0

df.isna()

       0
0  False
1  False
2  False

In [47]:
## 결측치를 삭제하는 함수 -> dropna()
## axis속성을 이용하여 축을 설정 -> 0:행을 삭제 1:열을 삭제
df.dropna(axis=0)

       0
0  S1:s1
1  S2:s2
2  S3:s3

In [48]:
# 결측치가 존재하는 열을 삭제
df.dropna(axis=1)

       0
0  S1:s1
1  S2:s2
2  S3:s3

csv형태랑 jason형태의 파일 불러오는 것 오늘 할 것(06.13)

In [49]:
sales_records = pd.read_csv("../csv/Sales Records.csv")
sales_records

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,199342048,7/31/2014,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,763044106,11/1/2012,562,437.20,263.33,245706.40,147991.46,97714.94
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,848579967,3/20/2013,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,298185956,2/22/2017,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,824410903,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54

In [50]:
sales_records.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [51]:
## 통계요약 정보
sales_records["Total Cost"].describe()

count    1.000000e+04
mean     9.382658e+05
std      1.145914e+06
min      1.245600e+02
25%      1.647855e+05
50%      4.816058e+05
75%      1.183822e+06
max      5.241726e+06
Name: Total Cost, dtype: float64

In [53]:
## Order Date Shipa Date 컬럼의 데이터를 시계열 변경
sales_records["Order Date"] = pd.to_datetime(sales_records["Order Date"], format = "%m/%d/%Y")
sales_records.head(2)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.0
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.5

## 컬럼의 이름만 출력 -> columns

In [54]:

sales_records.columns = ["대륙","국가","상품타입","판매채널","우선순위","주문날짜","주문ID","발송일자","판매단위","단가","원가","총수익","총비용","총이윤"]

sales_records.head(2)

,대륙,국가,상품타입,판매채널,우선순위,주문날짜,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.0
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.5

#총비용 data의 소수점 첫째자리까지 반올림
소수점 자리를 변경하면서 반올림을 해주는 함수 -> round(n) :n의 자릿수 만큼 유지 나머지 값은 반올림

In [55]:
sales_records["총비용"].round(1)

0       2353920.6
1         34174.2
2        592409.0
3       3861014.8
4        110978.9
          ...
9995     273298.6
9996     147991.5
9997     229507.3
9998    3174991.1
9999      35175.8
Name: 총비용, Length: 10000, dtype: float64

In [ ]:
## 데이터의 타입을 변경 시키는 함수 -> 총이윤 칼럼의 데이터의 형태를 float -> int로 변경 
## 
sales_records["총이윤"].astype(int)

In [56]:
##round(0), astype(int)의 차이?
##데이터형태 round(0): float, astype(int): int
##수치에서도 차이가 있다. -> round() 반올림, astype(int): 소수점자리 수치 버림. 
##round(0).astype(int)를 동시에 사용

sales_records["총이윤"].round(0).astype(int)

0        566105
1         16834
2        411292
3       1273304
4         54669
         ...
9995     134629
9996      97715
9997     159340
9998     497983
9999      19906
Name: 총이윤, Length: 10000, dtype: int32

In [57]:
## 위의 3가지 작업은 연산을 해서 출력만 한 상태
## 원본의 데이터의 수정작엄은 하지 않음
## 원본의 데이터를 수정을 하기 위해서는 
## 원본의 어느 데이터에 연산이 된 값들을 넣어줄지 작성.


## 총비용의 칼럼의 값들을 반올림해서 총비용 칼럼에 삽입

sales_records["총비용"] = sales_records["총비용"].round(1)

##수정작업 후 데이터를 확인하는 코드 작성

sales_records.head(2)
sales_records["총비용"].head(2)

0    2353920.6
1      34174.2
Name: 총비용, dtype: float64

In [60]:
## 칼럼이 데이터를 그룹화하고 그 빈도의 수를 체크 함수
## value_counts() -> 칼럼의 데이터들을 조회해서 중복된 데이터의 개수를 출력

sales_records[" "].value.counts()

KeyError: ' '

In [59]:
## 그룹화 함수 -> groupby([그룹을 할 칼럼의 이름]),함수() -> 그룹화를 한 데이터의 합,평균,표준편차... 

sales_records.groupby(["국가","상품타입"]).sum()

sales_records.groupby(["국가","상품타입"]).sum()["총이윤"]

##주문 ID에 대해서는 type을 str의 형태로 바꿔서 계산할 때 출력을 안하게 만듬(연산이 안되게 만드는 작업)

국가           상품타입
Afghanistan  Baby Food           131136.48
             Beverages           225190.80
             Cereal             4865097.03
             Clothes            2194901.28
             Cosmetics          2117214.99
                                   ...
Zimbabwe     Meat                551408.00
             Office Supplies    2202683.75
             Personal Care       463058.68
             Snacks              899553.96
             Vegetables         2142947.85
Name: 총이윤, Length: 2198, dtype: float64