In [1]:
import pandas as pd
import numpy as np

In [2]:
## 결측치 확인
s1 = pd.Series([1, np.nan, 3,4,5])
s2 = pd.Series([1,2,np.nan,4,5])
s3 = pd.Series([1,2,3,np.nan,5])
df = pd.DataFrame({'s1':s1,
                's2':s2,
                's3':s3})
df

    s1   s2   s3
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0